node_modules/
.env
claude.env
*.log
.DS_Store
.claude/*
!.claude/agents/
!.claude/agents/**
!.claude/commands/
!.claude/commands/**
!.claude/guides/
!.claude/guides/**
implementation_notes/
openapi v2 public API/
plan*
test/*.json
